@import '~antd/dist/antd.css';
.site-card-border-less-wrapper {
	padding: 30px;
	background: #ececec;
}
.app-container {
	display: flex;
}
.tweet-container {
	display: flex;
	flex-direction: column;
}
.site-layout-background {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.heading{
	font-size: large;
	font-weight: 200;
}