@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: cover;
  /* margin: 30px auto; */
  overflow: auto;
  max-height: cover;
  padding: 0px 0px 0px 220px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
	margin-top: 30px;
	text-align: center;
  }